<?xml version="1.0"?>
<config>
    <modules>
        <NowInStore_CatalogBuilder>
            <version>1.0.5</version>    <!-- Version number of your module -->
        </NowInStore_CatalogBuilder>
    </modules>
    <frontend>
        <routers>
            <catalogbuilder>
                <use>standard</use>
                <args>
                    <module>NowInStore_CatalogBuilder</module>
                    <frontName>catalogbuilder</frontName>
                </args>
            </catalogbuilder>
        </routers>
    </frontend>
</config>
